.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  width: 70vw;
  margin: 15px;
  padding: 10px;
  border: 1px solid cornflowerblue;
}

.forms__submit {
  margin: 10px;
}
